# Virtual environment
venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment files
.env

# OS files
.DS_Store
Thumbs.db

# Jupyter checkpoints
.ipynb_checkpoints/

# Streamlit cache
.streamlit/

# Large raw dataset (do not upload to GitHub)
data/DataCoSupplyChainDataset.csv